/* */

/*  */

img {
object-fit: cover;
object-position: center;
aspect-ratio: 1;


}
body {

    background-color: #301934;
  color:white;

}
::-webkit-scrollbar {

display:none;
}
/* display grid */
:is(body) {

display:grid;

}
/* Set up rows */
body {

grid-template-rows:auto minmax(100%, 100dvh) auto;

}

.navbar {


   &:img[alt="logo"] {
    
    width:2rem;

   }
}
.nav-link {

color:white;
}
.navbar-nav > li {
padding-left:30px;
padding-right:30px;
font-size:0.8rem;
text-shadow:0.4px 0.4px fuchsia;

}

   img[alt="logo"] {

    width:5rem;


   }  
   :is(h2, footer p) {

 text-align:center;

   }
 